.alarm-result-page {
	width: 100%;
}

.label_line {
	display: flex;
    flex-direction: row;
    justify-content: space-between;
	border: 1px solid;
	padding: 10px 20px;
	background-color: #69A8DA;
}

.line_result_one, 
.line_result_two, 
.line_result_three {
	display: flex;
    flex-direction: row;
    justify-content: space-between;
	padding: 10px 20px;
	margin: 20px 0;
	background-color: #CBE3F3;
	align-items: center;
}

.results .active {
	height: 25px;
    width: 25px;
    background-color: greenyellow;
    border-radius: 50%;
    display: inline-block;
}

.results .no_info {
	height: 25px;
    width: 25px;
    background-color: yellow;
    border-radius: 50%;
    display: inline-block;
}

.results .not_active {
	height: 25px;
    width: 25px;
    background-color: red;
    border-radius: 50%;
    display: inline-block;
}

.name {
	display: flex;
	flex-direction: column;
}

button {
	background-color: #69A8DA;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 15px;
}

input {
	padding: 15px;
	margin: 0 15px;
}

label {
	font-size: 20px;
}

.remove {
    background-repeat: no-repeat;
    width: 25px;
	height: 25px;
	cursor: pointer;
}

.remove:before {
	content: 'X';
}

.status {
	display: flex;
	flex-direction: column;
}