code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

body {
  background: #e4e9ef;
}

#map {
  height: 180px;
}

.leaflet-container {
  width: 80vh;
  height: 100vh;
}

.main {
  display: flex;
  justify-content: center;
  width: 100%;
}

.App {
  display: flex;
}
